<form method="POST" action="/survey">
    <label>
      Name:
      <input type="text" name="name" required>
    </label>
    <br>
    <label>
      Date of Birth:
      <input type="date" name="date_of_birth" required>
    </label>
    <br>
    <label>
      Sex:
      <select name="sex" required>
        <option value="">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </label>
    <br>
    <label>
      Height (cm):
      <input type="number" name="height" required>
    </label>
    <br>
    <label>
      Weight (kg):
      <input type="number" name="weight" required>
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
  